/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Ex Border */
.content-section-top {
  /* border: 1px solid black; */
}
.content-section-bottom {
  /* border: 1px solid black; */
}
/* For All */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* list-style: none; */
}

body {
  background-color: #00afef;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

/* Narbar Menu Kategori */ /* Nabar Samping */
.menu-category {
  position: fixed;
  width: 80px;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px auto;
  background-color: #32708f;
  transition: 1s all ease;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0.5em 1em;
  font-size: 1.4rem;
  box-sizing: border-box;
}

.bars {
  color: white;
}

.menu-category ul.menu {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
}

ul.menu a.onActive {
  background-color: #2d5772;
}

.icon-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.icon-menu-item:hover {
  background-color: #2d5772;
}

.icon-menu-item img {
  width: 30px;
}

/* Content */
.content {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

/* Navbar Atas */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 80px;
  padding: 0.5em 1em;
}

.nav.show {
  background-color: #00afef;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
}

.logo {
  cursor: pointer;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
}

.second-section-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-section {
  display: flex;
  align-items: center;
  position: relative;
}

.input-keyword {
  width: 400px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 0 30px 0 10px;
}

.search-section i {
  position: absolute;
  right: 8px;
  color: #00afef;
  cursor: pointer;
}

.search-section i:hover {
  color: red;
}

.nav-section-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20vw;
}

.nav-section-right button {
  background-color: #fff;
  color: #00afef;
  font-weight: bold;
  cursor: pointer;
  padding: 0.2em 0.8em;
  border-radius: 10px;
  border: none;
  outline: none;
  border: 2px solid white;
}

.nav-section-right button:hover {
  border: 2px solid white;
  color: white;
  background-color: transparent;
}

.nav-section-right .icon-shopping {
  cursor: pointer;
  width: 30px;
  position: relative;
}

.nav-section-right .icon-shopping:hover {
  width: 35px;
}

.icon-shopping img {
  width: 100%;
}

.icon-shopping .notifValue {
  position: absolute;
  top: -12px;
  right: -8px;
  background-color: yellow;
  width: 20px;
  height: 20px;
  padding: 0.2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00afef;
  font-weight: 500;
  font-size: 0.8rem;
  text-size-adjust: 50%;
}

/* Body Content */
.body-content {
  margin-top: 80px;
  padding: 0.5em 1em;
}

/* Section Top */
.content-section-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  padding: 1em 3em;
}
/* Section Pict */
.pict-item {
  width: 360px;
}

/* Section Info */
.info-top {
  padding: 1.5em 1.2em 0 0.7em;
}

.info-top h1 {
  font-size: 4.5rem;
  color: yellow;
}

.info-top p {
  margin-top: 10px;
  color: white;
  font-size: 0.85em;
  letter-spacing: 1px;
}

.info-bottom {
  margin-top: 30px;
  width: max-content;
}

.card-price {
  margin-top: 60px;
  width: max-content;
  padding: 0.5em 1.4em;
  background-color: #fff;
  border-radius: 15px;
  color: #00afef;
}

.card-price h5 {
  font-size: 2rem;
  font-weight: 600;
}

.card-price span {
  font-size: 3rem;
  letter-spacing: 3px;
  font-weight: 700;
}

.option-shopping {
  margin-top: 20px;
  text-align: right;
  color: yellow;
}

.option-shopping a {
  font-weight: 500;
  color: yellow;
  cursor: pointer;
}

.option-shopping a:hover {
  color: white;
}

/* Content Section Bottom */
/* Section Spec */

.section-spec {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 30px;
}

.superiority h3,
.specification h3 {
  margin-bottom: 10px;
  color: yellow;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.superiority ol,
.specification ol {
  color: white;
  padding-left: 25px;
}

.pagination ul {
  padding: 0 3em;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  color: white;
  font-weight: 500;
  list-style: none;
}

.pagination ul li {
  padding: 0.1em 0.3em;
  cursor: pointer;
}

.pagination ul li.onPage {
  color: yellow;
}
/* Breakpoint 992px */
@media screen and (max-width: 992px) {
  .nav {
    gap: 10px;
  }

  .content-section-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .section-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-price {
    margin-top: 0;
  }
}

/* Breakpoint 768px */
@media screen and (max-width: 860px) {
  .input-keyword {
    width: 250px;
  }

  .body-content {
    padding: 0;
  }

  .content-section-top {
    padding: 1em;
  }

  .section-info {
    display: flex;
    flex-direction: column;
  }
}

/* BreakPoint 700px */
@media screen and (max-width: 768px) {
  .content {
    margin-left: 0;
    margin-bottom: 60px;
  }

  .menu-category .bars {
    display: none;
  }

  .menu-category {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
    transition: 1s all ease;
    background-color: #32708f;
  }

  .menu-category ul.menu {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    padding: 0.2em 0;
    box-sizing: border-box;
  }

  ul.menu a {
    padding: 0 2em;
    border-radius: 8px;
  }

  .nav {
    left: 0;
  }

  .input-keyword {
    width: 200px;
  }

  .nav-section-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
  }

  .pagination {
    margin-top: 25px;
  }

  .pagination ul {
    justify-content: center;
  }
}

/* Breakpoint 576px */
@media screen and (max-width: 650px) {
  .nav {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0.5em;
  }

  .logo {
    width: 60px;
  }

  .input-keyword {
    height: 25px;
  }

  .second-section-nav {
    justify-content: space-between;
  }

  .body-content {
    margin-top: 110px;
  }

  .content-section-top {
    padding: 0;
    margin-bottom: 40px;
  }

  .section-spec {
    padding: 10px;
  }
}

@media screen and (max-width: 576px) {
  .input-keyword {
    width: 150px;
    border-radius: 12px;
  }
}
